#custom-switch:focus{
border: none;
box-shadow: none;
}

#custom-switch:checked{
    /* border: none; */
    background-color: #6b4c94;
    border: 1px solid #D5CAE2;
    }

#custom-switch{
    /* background-color:#D5CAE2; */
    border: 1px solid #D5CAE2;
    width: 50px;
    height: 25px;
    margin-bottom: 20px;
}

#custom-switch:active{
    background-color:#D5CAE2;
}



@media print {
    #certificate {
        /* A4 size in pt */
        width: 842pt; 
        height: 595pt; 
    }
}